@media all and (max-width: 320px) {

body{
    font: 100% Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    text-align: center;
  }
}

@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    width: 100%;
  }
  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }


}
  /*header of home*/
  header{
    background-color: #ffc400;
    background-size: 100% 100%;
    color:white;
    padding-top:1%;
    min-height:70px;
    padding-bottom:1%;
    border-bottom:#e8491d 5px solid;
  }
  .txt{
    padding-bottom: 1%;
  }
  a:hover{
  color: white;
  }
  #container{
    background: url(img/logo.png)no-repeat 0 0px;
  }


  /*hHOME*/
  header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
  }
  
  header a{
    color:white;
    text-decoration:none;
    text-transform: uppercase;
    font-size:200%;
    font-weight: bold;
    flex-wrap: nowrap;
  }
  
  header h1{
    font-size:200%;
    margin-bottom: 5px;
  }
  header li{
    display:initial;
    padding-right: 30px;
  }
  header ul{
    margin-top: 95px;
  }

  
  header #branding{
    float:left;
    padding: 0px;
    margin: 0px;
  }
  
  
  header nav{
    float:right;
  }
  
  header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
  }
  
  header a:hover{
    color:black;
    font-weight:bold;
  }

.container{
    overflow:hidden;
  }

  /*banner*/
  #showcase{
    text-align:center;
    color:white;
  }
  
  #showcase .container{
  min-height:800px;
  background:url('img/meoAnhLD.png') no-repeat 0 0px;
  background-size: 100% ;
  }
  #showcaser h1{
    font-size:300%;
    margin-top:10%;
  }
  
  #showcase p{
    font-size:200%;
  }



    #hotel{
      min-height:500px;
      text-align:center;
      color:#ffc400 ;
      margin-left: 100px;
      margin-right: 100px;
      border-top: #ffc400 2px solid;
    }
    
    #hotel h1{
      font-size:300%;
      margin-bottom:40px;
    }



/* Boxes */
#boxes{
  margin-top:20px;
  background-image: radial-gradient(ellipse,#ffc400,wheat);
  color:#e8491d;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  max-width:140px;
}



#lienHe .boxLH{
  float: left;
  width: 30%;
  margin-left: 3%;
  margin-bottom: 40px;
}
#lienHe .boxLH iframe{
  min-height: 400px;
  width: 100%;
} 
#lienHe h3{
  margin-bottom: 40px;

}
#lienHe p{
  text-align: left;
}

/*FOOTER*/
footer{
  border-top:#e8491d 5px solid;
  padding:20px;
  color:#e8491d;
  font-weight: bold;
  background-color:#ffc400;
  text-align: center;
}

@media screen and (max-width: 480px) {

  html, body,#boxes,#service {
    min-width: 320px;
  }

}




/*ABOUT*/
#main{
  margin-top: 20px;
  margin-bottom: 40px;
  
}

#main-col{
  text-align: justify;
  margin-left: 20px;
}
#main-col .page-title{
  text-align: center;
}
aside {
  text-align: justify;
  float:right;
  width:30%;
  margin-top:10px;
  margin-right: 20px;
}

 aside h3{
   text-align: center;
 }


/* Main-col */
article {
  float:left;
  width:65%;
}

ul#services li{
  list-style: none;
  padding:20px;
  border: #ffc400 solid 3px;
  margin-bottom:5px;
}
#sidebarService{
  margin-top: 90px;
  border: #ffc400 solid 3px;
}
#sidebarService .box{
  width: 50%;
  float: left;
  text-align: center;
  margin-top: 20px;
}
#sidebarService .box img{
  min-width: 100px;

}


/*grooming*/

#number{
  min-width: 200px;
}
#price{
  min-width: 150px;
  margin: auto;
}

#txtHotel{
  text-align: left;
  padding:20px;
}

#sidebar #txtHotel{
  border: #ffc400 2px solid;
  margin-right:20px;
}




/*shop*/




	

/* Gallery */

	@-moz-keyframes gallery {
		100% {
			opacity: 1;		}
	}

	@-webkit-keyframes gallery {
		100% {
			opacity: 1;		}
	}

	@-ms-keyframes gallery {
		100% {
			opacity: 1;		}
	}

	@keyframes gallery {
		100% {
			opacity: 1;		}
	}

	.gallery {
    padding-left: 10em;
    padding-right: 10em;
		position: relative;
		overflow: hidden;
    min-height: 37em;
    text-align: center;
    color: #ffc400;
	}

		@media screen and (max-width: 980px) {

			.gallery {
				padding: 2em;
				min-height: 20em;
			}

				.gallery header h2 {
					margin-bottom: 1em;
				}

		}

		@media screen and (max-width: 480px) {

			.gallery {
				padding: 1em;
			}

		}

		.gallery header {
			display: -ms-flexbox;
			-ms-flex-pack: justify;
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-moz-justify-content: space-between;
			-webkit-justify-content: space-between;
			-ms-justify-content: space-between;
			justify-content: space-between;
		}

			.gallery header.special {
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
			}

			@media screen and (max-width: 736px) {

				.gallery header {
					display: block;
				}

			}

			@media screen and (max-width: 480px) {

				.gallery header h2 {
					margin-bottom: .5em;
				}

			}



		.gallery .content {
			display: -ms-flexbox;
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-moz-justify-content: -moz-flex-start;
			-webkit-justify-content: -webkit-flex-start;
			-ms-justify-content: -ms-flex-start;
			justify-content: flex-start;
		}

			.gallery .content .media {
				-moz-animation: gallery 0.75s ease-out 0.4s forwards;
				-webkit-animation: gallery 0.75s ease-out 0.4s forwards;
				-ms-animation: gallery 0.75s ease-out 0.4s forwards;
				animation: gallery 0.75s ease-out 0.4s forwards;
				margin-bottom: 0;
				overflow: hidden;
				opacity: 0;
				position: relative;
				width: 25%;
			}

				.gallery .content .media a {
					display: block;
				}

				.gallery .content .media img {
					-moz-transition: -moz-transform 0.2s ease-in-out;
					-webkit-transition: -webkit-transform 0.2s ease-in-out;
					-ms-transition: -ms-transform 0.2s ease-in-out;
					transition: transform 0.2s ease-in-out;
					max-width: 100%;
					min-height: 400px;
					vertical-align: middle;
				}

				.gallery .content .media:hover img {
					-moz-transform: scale(1.075);
					-webkit-transform: scale(1.075);
					-ms-transform: scale(1.075);
					transform: scale(1.075);
				}

				@media screen and (max-width: 736px) {

					.gallery .content .media {
						width: 50%;
					}

				}

				@media screen and (max-width: 480px) {

					.gallery .content .media {
						width: 100%;
					}

        }
  .gallery h1{
    font-size: 300%;
  } 
  .gallery p{
    color: #ffc400;
    font-size: 200%;
    font-weight: bold;
  }



/* Shop */

	#shop {

		width: 100%;
	}

		#shop #header {
			background: #e6e6e6;
			padding: 1.15em 3.5em;
			text-align: right;
		}

			#shop #header h1 {
				margin: 0;
				font-size: 1em;
			}

			@media screen and (max-width: 980px) {

				#mashopin #header {
					padding: 1.15em 2em;
				}

			}

			@media screen and (max-width: 736px) {

				#shop #header {
					text-align: center;
				}

			}

/* Footer */


		@media screen and (max-width: 736px) {

			footer {
				padding: 3em 0 1em 0;
			}

    }
  #clock{
    width: 800px;
    min-height:auto ;
  }
  #sale img{
    float: left;
  }
  #clock #countdown{
    width: 20%;
    height: 10%;
    text-align: center;
    background: #222;
    background-image: -webkit-linear-gradient(top, #222, #333, #333, #222); 
    background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
    background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
    background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
    border: 1px solid #111;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    padding: 24px 0;
    position: absolute;
    margin-left: 40%;
    text-align: center;
  }
  #sale{
    margin-bottom: 10%;
  }
  #sale .start{
    width: 100px;
    height: 100px;
    border: solid 1px black ;
    float: right;
    margin-top: 10px;
    text-align: center;

  }
  
  #countdown #tiles{
    position: relative;
    z-index: 1;
  }
  
  #countdown #tiles > span{
    min-width: 92px;
    max-width: 92px;
    font: bold 48px 'Droid Sans', Arial, sans-serif;
    text-align: center;
    color: #111;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #bbb, #eee); 
    background-image:    -moz-linear-gradient(top, #bbb, #eee);
    background-image:     -ms-linear-gradient(top, #bbb, #eee);
    background-image:      -o-linear-gradient(top, #bbb, #eee);
    border-top: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    margin: 0 7px;
    padding: 18px 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  
  #countdown #tiles > span:before{
    content:"";
    width: 100%;
    height: 13px;
    background: #111;
    display: block;
    padding: 0 3px;
    position: absolute;
    top: 41%; left: -3px;
    z-index: -1;
  }
  
  #countdown #tiles > span:after{
    content:"";
    width: 100%;
    height: 1px;
    background: #eee;
    border-top: 1px solid #333;
    display: block;
    position: absolute;
    top: 48%; left: 0;
  }
  
  #countdown .labels{
    width: 100%;
    height: 25px;
    text-align: center;
    position: absolute;
    bottom: 8px;
  }
  
  #countdown .labels li{
    width: 102px;
    font: bold 15px 'Droid Sans', Arial, sans-serif;
    color: #f47321;
    text-shadow: 1px 1px 0px #000;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
  }