<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assignment.css"/>
    <title>MEOW HOUSE</title>
  </head>
  <body ng-app="myApp">
    <header>
        <div class="container">
          <div id="logo">

            <h1>
              <canvas id="container" width="100" height="100"></canvas>
              <span class="highlight">MEOW</span> HOUSE
            </h1>
          </div>
          <nav>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li ><a href="about.html">About</a></li>
              <li><a href="services.html">Services</a></li>
            </ul>
          </nav>
        </div>
      </header>


    <div class="ard-fooer" class="card" ng-controller="myController">
      <div class="card-header">
              <h1><b>BẢNG GIÁ GROOMING</b></h1>
      </div>
      <div class="card-body">
        Mức giá:
        <select id="price" class="form-control" ng-model='gia' name="ALL" >
            <option value="0">ALL</option>
            <option value="40">&#62;$50</option>
            <option value="90">&#62;$100</option>
            <option value="190">&#62;$200</option>
            <option value="330">&#62;$300</option>
        </select><hr>
          <table class=" table table-bordered">
            <thead>
                <tr >
                  <th width="50px"><input type="checkbox" ng-click='clickAll()'></th>
                  <th>
                    <a href="#" ng-click="sortType ='tensp'">
                    Dịch vụ
                    <span ng-show="sortType == 'tensp'" class="fa fa-caret-down"></span>
                  </a>
                  </th>
                  <th>
                    <a href="#" ng-click="sortType ='dongia'">
                    Đơn giá
                    <span ng-show="sortType == 'tensp'" class="fa fa-caret-down"></span>
                  </th>
                  <th>Số lượng</th>
                  <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='p in products|orderBy:sortType:sortReverse|search: gia'>
                  <td width="50px"><input type="checkbox" ng-model='p.isBuy'></tdwidth="50px">
                  <td>{{p.tensp}}</td>
                  <td width="400px">{{p.dongia|currency}}</td>
                  <td width="200px"><input id="number" type="number" min=0 ng-model='p.soluong' ng-disabled='!p.isBuy' ></td>
                  <td width="400px">{{p.soluong*p.dongia|currency}}</td>

            </tbody>
        </table>
      </div>
    <div class="card-footer">
    Tổng tiền: {{tongtien()|currency}}
    </div>
    </div>


    <footer> 
        <p>MEWOW HOUSE, Copyright &copy; 2020</p>
    </footer>


    <script src="assignment.js"></script>
</body>
</html>
